body{
    background-color: rgb(247, 247, 236);
}

.container {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}

.first-row img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.long-height {
    height: 1000px;
}

.first-row{
    display: flex;
}

.first-row .title{
    font-weight: 500;
}

.first-row .follower{
    color: gray;
}